/* Header Logo */
.pfs-header__logo {
    width: auto;
}

/* Search Results */
.pfs-search-results-list__item:not(:first-child) {
    border-top: 1px solid #b1b4b6;
    padding-top: 30px;
}

/* Card Blocks */

.pfs-card-block {
    border: 1px solid #b1b4b6;
    background: #fff;
}

.pfs-card-block__content {
    padding: 15px;
}

/* Utilities */

.pfs-section-bg-alt {
    background-color: #f8f8f8;
}

.pfs-img-border {
    border: 1px solid #b1b4b6;
}